@charset "UTF-8";


/* midia-query para tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--cor3), var(--cor4)70%);
    }

    section#login {
        width: 80vw;
        height: 296px;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;

    }   

    section#login > div#formulario {
        float: right;
        width: 70%;
        height: 100%;
    }
}
/* midia-quey para telas grandes */
@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--cor3), var(--cor4)70%);
    }

    section#login {
        width: 950px;
        height: 350px;

    }
    section#login > div#imagem {
        float: left;
        width: 40%;
        height: 100%;
        background: url(../imagens/imagem-login.jpg) center top;
        background-size: cover;
        


    }
    section#login > div#formulario {
        float: right;
        width: 60%;

    }
    
    div#formulario > h1{
        font-size: 1.7em;

    }

    div#formulario > p{
        font-size: 1.1em;
        margin: 20px 0px;
    }
}